.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9997; /* This will ensure the overlay is above most other elements. */
}

.modal-background, .modal {
  clip-path: polygon(
    0 0,
    calc(100% - 1em) 0,
    100% 1em,
    100% 100%, 
    1em 100%,
    0 calc(100% - 1em)
  );
}

.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 60%;
  background: var(--primary-color);
  z-index: 9998; /* This will ensure the modal is above the overlay and most other elements. */
}

.modal {
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: var(--dark-secondary-color);
  z-index: 9999; /* This will ensure the modal is above the overlay and most other elements. */
}

.modal-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1em;
}

.modal-content {
  flex-grow: 1; 
}

.modal-footer {
  align-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 1em;
}

.modal-footer .button {
  border: 2px solid var(--primary-color);
  border-bottom: 0;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: 2em;
}