.container {
    width: calc(100%, -4em);
    height: 90%;
    margin: 2em;
    border: solid 2px var(--light-secondary-color);
    border-radius: 1px;
    background-color: var(--dark-secondary-color);
}