.header-box {
    position: relative;
    width: calc(100% - 2em);
    height: 1.1em;
    border-bottom: solid 1px #394749;
    margin-left: 1em;
    margin-right: 1em;
}

.header-box::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;        /* Thickness of the border */
    height: 0.5em;      /* Length of the border */
    background-color: #394749; /* Color of the border */
}

.header-box::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1px;       /* Length of the border */
    height: 0.5em;       /* Thickness of the border */
    background-color: #394749; /* Color of the border */
}

.header-box .footer {
    height: 1.1em;
}

.header-box .footer::before {
    content: "";
    position: absolute;
    top: 1.1em;
    left: 0;
    width: 1px;        /* Thickness of the border */
    height: 0.5em;      /* Length of the border */
    background-color: #394749; /* Color of the border */
}

.header-box .footer::after {
    content: "";
    position: absolute;
    top: 1.1em;
    right: 0;
    width: 1px;        /* Thickness of the border */
    height: 0.5em;      /* Length of the border */
    background-color: #394749; /* Color of the border */
}

.header-box .content {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: space-between;
}

.header-box .content > * {
    text-transform: uppercase;
}