.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9997; /* This will ensure the overlay is above most other elements. */
}

.modal-background, .modal {
  clip-path: polygon(
    0 0,
    calc(100% - 1em) 0,
    100% 1em,
    100% 100%, 
    1em 100%,
    0 calc(100% - 1em)
  );
}

.modal-background {
  position: fixed;
  top: 20%; 
  left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 500px;
  background: var(--light-secondary-color);
  z-index: 9998; /* This will ensure the modal is above the overlay and most other elements. */
  
}

.modal {
  border-top: 2px solid var(--light-secondary-color);
  border-bottom: 2px solid var(--light-secondary-color);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: var(--dark-secondary-color);
  z-index: 9999; /* This will ensure the modal is above the overlay and most other elements. */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content {
  margin-top: 20px;
}