@font-face {
  font-family: 'United Sans Rg Lt';
  src: url('https://torchship-cdn.s3.us-west-2.amazonaws.com/United+Sans+Reg+Light.otf') format('opentype');
  /* Add other formats if available */
}

body, html {
  font-family: 'United Sans Rg Lt', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--dark-secondary-color);
  
  /* Create the dot pattern */
  background-image: radial-gradient(circle, #292B2B 0.5px, transparent 1px),
  radial-gradient(circle, #292B2B 0.5px, transparent 1px);

  /* Size of the pattern (distance between dots) */
  background-size: 25px 25px;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #263238 transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #263238;
  border-radius: 20px;
  border: 6px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #37474F;
}